html {
  height: 100%;
}
#cesiumContainer {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#scenario-status {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

#controlPanelContainer {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
}